<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
<div class="media">
   <div class="media-body">
     <small>
       Created <%= time_ago_in_words(item.created_at) %> ago
     </small>
     <p><%= item.name %></p>
   </div>
 </div>
 <% end %>
